@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap: 100, 200, 300, 400, 500, 600, 700, 800, 900');

body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

nav .brand-logo {
    padding-left: 10px;
}

.helper-text {
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    letter-spacing: 0px;
}

.input-field>label {
    color: #000; 
    font-size: 16px;
}

.select-wrapper input.select-dropdown {
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
}

.dropdown-content{
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    letter-spacing: 0px;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #000; 
}