@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap: 100, 200, 300, 400, 500, 600, 700, 800, 900');

body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}

nav .brand-logo {
    padding-left: 10px;
}

.helper-text {
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    letter-spacing: 0px;
}

.input-field>label {
    color: #000;
    font-size: 16px;
}

.select-wrapper input.select-dropdown {
    font-family: 'Open Sans', sans-serif;
}

.dropdown-content {
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    letter-spacing: 0px;
}

.dropdown-content li>a,
.dropdown-content li>span {
    color: #000;
}


.card-image .img_recipe {
    height: 200px;
    overflow: hidden;
    object-fit: cover;
}

.img_recipe {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}


h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    padding-bottom: 20px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 16px;
}

.sidenav .fas {
    margin: 0px;
}


.btn-small {
    margin-top: 15px;
    margin-left: 10px;
    background-color: #28a745;
    color: #ffffff;
}

.btn-small:hover {
    background-color: #ffffff;
    color: #28a745;
}

.collapsible-header i {
    margin: 5px;
    line-height: 60px;
}

.recipe-desc {
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    letter-spacing: 0px;
}

.border-right {
    border-right: 1px solid #000;
}


.brand-info {
    padding-bottom: 50px;
}

.card .card-content p {
    color: #000;
}

.search-panel {
    padding: 0px;
}

.hero-image {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -55%);
    color: white;
    padding: 30px;
}


.featured-image {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.featured-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -55%);
    color: #ffffff;
    padding: 28px;
}

.lowercase {
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    letter-spacing: 0px;
}

.page-footer {
    padding: 0px;
}


.dash-heading {
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    letter-spacing: 0px;
    line-height: 0%;
}

.dropdown-content li>a {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
}


nav ul a:hover {
    color: #000;
    background-color: #fff;
}

.socials .fab {
    color: #28a745;
}

footer .fas {
    color: #28a745;
}

.socials .fab:hover {
    color: #fff;
}

footer .fas:hover {
    color: #fff;
}

.sidenav .brand-logo {
    font-size: 20px;
}


.top-text a {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
}

.page-footer .footer-copyright {
    padding: 0px;
    min-height: 0px;
}