{% extends "base.html" %}
{% block content %}

<!-- Brands Heading -->
<div class="row">
    <h1 class="center-align">BIA BRANDS</h1>
    <hr class="blackline">
</div>


<!-- Brand Gallery-->

<div class="row">
    {% for brand in brands %}
    <div class="col s12 m4">
        <div class="card">
            <a href="{{ url_for('brand', brand_id=brand._id) }}">
                <div class="card-image">
                    <img class="brand_img" src="{{brand.brand_img}}">
                    <!--<span class="card-title">Card Title</span>-->
                    <!--<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="far fa-heart"></i></a>-->
                </div>
                <div class="card-content center-align">
                    <p>{{ brand.brand_name }}
                    </p>
                </div>
                </a>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}