{% extends "base.html" %}
{% block content %}


<!-- About us section -->

    <div class="row" id="image-header">   
        <div class="col s12 m6 offset-m6 l6 offset-l6 center-align">
        <div class="col s12 m10 offset-m2 l10 offset-l2">
            <h2 id="home-about">About Bia</h2>
            <p id="home-text" class="lowercase">We support Irish food producers through the nation's love of good Irish
            ingredients.</p>
            <p id="home-text" class="lowercase">Join the Bia community and share recipes with your favourite homegrown brands.</p>
            <a class="btn-small" href="{{ url_for('register') }}">Join now</a>
            </div>
        </div>
    </div>

<div class="container">
<!-- Title -->
<div class="row">
    <h2 class="center-align">#TRENDING</h2>
    <hr class="blackline">
</div>



<!-- Recipe Gallery-->

<div class="row">
    {% for recipe in recipes %}
    <div class="col s12 m6 l4">
        <div class="card">
            <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
                <div class="card-image">
                    <img class="img_recipe" src="{{ recipe.img_url}}">
                    <!--<span class="card-title">Card Title</span>-->
                    <!--<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="far fa-heart"></i></a>-->
                </div>
                <div class="card-content center-align">
                    <p>{{ recipe.recipe_name }}
                    </p>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Featured section -->

    <div class="row" id="image-featured">   
        <div class="col s12 m6 offset-m6 l6 offset-l6 center-align">
        <div class="col s12 m10 offset-m2 l10 offset-l2">
            <h2 id="home-featured">Bia Featured</h2>
            <p id="featured-text" class="lowercase">Bia is loving Irish nut butter brand, Lifeforce. With over 40 years in the biz, they have maintained their philosophy to provide foods just as nature intended.</p>
        <div class="button-home"><a class="btn-small" href="{{ url_for( 'brand', brand_id='60983c6bd2b7896551a0a7ac') }}">Learn more</a></div>
            </div>
        </div>
    </div>

</div>

{% endblock %}