{% extends "base.html" %}
{% block content %}


<!-- About us section -->

<div class="hero-image">
    <img class="responsive-img" src="static/images/bia-about.png">
    <div class="hero-text">
        <h1>About Bia </h1>
        <p class="white-text lowercase">We support Irish food producers through the nation's love of good Irish
            ingredients!</p>
        <p class="white-text lowercase">Join Bia.ie and share your favorite recipes with the community using homegrown
            brands.</p>
        <a class="btn-small" href="{{ url_for('register') }}">Join now</a>
    </div>
</div>



<!-- Title -->
<div class="row">
    <h2 class="center-align">#TRENDING</h2>
    <hr class="blackline">
</div>



<!-- Recipe Gallery-->

<div class="row">
    {% for recipe in recipes %}
    <div class="col s12 m6 l4">
        <div class="card">
            <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
                <div class="card-image">
                    <img class="img_recipe" src="{{ recipe.img_url}}">
                    <!--<span class="card-title">Card Title</span>-->
                    <!--<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="far fa-heart"></i></a>-->
                </div>
                <div class="card-content center-align">
                    <p>{{ recipe.recipe_name }}
                    </p>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Featured section -->

<div class="featured-image">
    <img class="responsive-img" src="static/images/bia-featured.png">
    <div class="featured-text">
        <h2>Bia Featured</h2>
        <p class="white-text lowercase">We support Irish food producers through the nation's love of good Irish
            ingredients!</p>
        <p class="white-text lowercase">Join Bia.ie and share your favorite recipes with the community using homegrown
            brands.</p>
        <a class="btn-small" href="{{ url_for('bia_brands') }}">Learn more</a>
    </div>
</div>


{% endblock %}