{% extends "base.html" %}
{% block content %}
<div class="container">
   <div class="row">
      <h1 class="center-align">Manage Brands</h1>
      <hr class="blackline">
   </div>
   <!-- Add a new brand -->
   <div class="row">
      <div class="col s12">
         <div class="col right">
            <a class="waves-effect waves-light #00c853 green accent-4 btn-small z-depth-3"
               href="{{ url_for('add_brand') }}">Add a new brand +</a>
         </div>
      </div>
   </div>
   <div class="row">
      {% for brand in brands %}
      <div class="col s12 m6 l4">
         <div class="card #fafafa grey lighten-5 text-shadow center-align">
            <div class="card-content">
               <span class="card-title">{{ brand.brand_name }}</span>
            </div>
            <div class="card-action">
               <a href="{{ url_for('edit_brand', brand_id=brand._id) }}" class="waves-effect waves-light white green-text btn-small z-depth-3">Edit</a>
               <!-- Modal delete Trigger -->
               <a class="modal-trigger waves-effect waves-light red btn-small z-depth-3" href="#modal{{ loop.index }}">Delete</a>
               <!-- Modal delete Structure -->
               <div id="modal{{ loop.index }}" class="modal">
                  <div class="modal-content">
                     <h4>Are you sure you want to delete {{ brand.brand_name }}?</h4>
                  </div>
                  <div class="modal-footer">
                     <a href="{{ url_for('manage_brands') }}" class="modal-close waves-effect waves-light white green-text btn-small z-depth-3">Cancel</a>
                     <a href="{{ url_for('delete_brand', brand_id=brand._id) }}" class="modal-close waves-effect waves-light red btn-small z-depth-3">Delete</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      {% endfor %}
   </div>
</div>
{% endblock %}