{% extends "base.html" %}
{% block content %}

{% for recipe in recipes %}
{{ recipe.recipe_name }}<br>
{{ recipe.category_name }}<br>
{{ recipe.recipe_description }}<br>
{{ recipe.serves }}<br>
{{ recipe.prep_time}}<br>
{{ recipe.cook_time}}<br>
{{ recipe.difficulty}}<br>
{% endfor %}


<!-- Recipes Title -->
<div class="row">
    <h3 class="center-align">ALL RECIPES</h2>
        <hr class="blackline">
</div>


<!-- Recipe Gallery-->
    <div class="row">
          {% for recipe in recipes %}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <img src="static/images/peanut-pad-thai.jpg">
                    <!--<span class="card-title">Card Title</span>-->
                    <!--<a class="btn-floating halfway-fab waves-effect waves-light red"><i class="far fa-heart"></i></a>-->
                </div>
                <div class="card-content">
                    <p>{{ recipe.recipe_name }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    {% endblock %}