{% extends "base.html" %}
{% block content %}

<!-- Recipe Title -->
<div class="row">
    <h1 class="center-align">{{ recipe.recipe_name }}</h1>
    <hr class="blackline">
</div>


<!-- Recipe info & image -->
<div class="row">
    <div class="col s6 border-right">
        <img class="img_recipe" src="{{recipe.img_url}}" alt="recipe_image">
        <div class="recipe-desc #43a047 green-text text-darken-1">Created by: <i class="fas fa-user #000000 black-text"></i> {{recipe.created_by}}
        </div>

        <p class="recipe-desc">{{recipe.description}}</p>
        
    </div>

    <div class="col s6">
        <div class="brand-info">
        <p class="recipe-desc">This recipe was made using Irish brand, <span class="#43a047 green-text text-darken-1">{{recipe.business_name}}.</span></p>
        <p class="recipe-desc">Learn more about {{recipe.business_name}} and their products at <span class="#43a047 green-text text-darken-1">{{recipe.business_url}}</span></p>
        </div>

        <div>
        <h6 class="#43a047 green-text text-darken-1">Ingredients: </h6>
        <ul class="browser-default">
            {% for list in recipe.ingredients.splitlines() %}
            <li>
                <p class="recipe-desc "> {{list}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
</div>
 </div>
<!-- Info -->
<div>
<hr class="blackline">
<div class="row">

    <div class="col s12 m4 center-align">
        <h6 class="#43a047 green-text text-darken-1">PREP TIME: </h6>
        <p class="recipe-desc">{{recipe.prep_time}} mins</p>
    </div>
    <div class="col s12 m4 center-align">
        <h6 class="#43a047 green-text text-darken-1">COOK TIME: </h6>
        <p class="recipe-desc">{{recipe.cook_time}} mins</p>
    </div>
    <div class="col s12 m4 center-align">
        <h6 class="#43a047 green-text text-darken-1">SERVES: </h6>
        <p class="recipe-desc">{{recipe.serves}}</p>
    </div>

</div>
<hr class="blackline">
</div>
<!-- Method -->
<div class="row">
    <div class="col s12">
        <h6 class="#43a047 green-text text-darken-1">Method: </h6>
        <ol>
            {% for steps in recipe.method.splitlines() %}
            <li>
                <p class="recipe-desc"> {{steps}}</p>
            </li>
            {% endfor %}
        </ol>

    </div>
</div>

{% endblock %}